numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
tensorflow
mediapipe
fastapi
uvicorn[standard]
starlette
tensorflow_hub
openai
langchain
langchain-community
langchain-openai
langgraph
phidata
