fastapi
jupyterlab
langchain
langchain-community
langchain-openai
langgraph
matplotlib
numpy
openai
openpyxl
pandas
phidata
pydantic
scikit-learn
scipy
seaborn
python-dotenv
requests
starlette
streamlit
h5py
uvicorn[standard]
